header{
    background:rgb(238, 58, 58) ;
    padding: 20px 0;/* espaço em cima e em baixo do cabeçalho - espaçamento interno*/
}
.caxa{
    position:relative;/*menu demtro do caixa*/
    width: 940px;/*largura da caixa*/;
    margin: 0 auto;relative
}

nav{
    position: absolute;
    top: 110px;
    right: 283px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;/*espaçamento interno*/
}
nav a{
    text-transform: uppercase; /*letras maiúsculas*/
    color: #000000; /*cor das letras pretas*/
    font-weight: bold; /*fonte negrito*/
    font-size: 22px; /*tamanho da fonte*/
    text-decoration: none; /*retirar o sublinhado do texto*/
}
img { 
    width: 100px;
    height: 100px;
}